@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body, button, input {
  font-family: 'Lexend Deca', sans-serif;
}

input::placeholder {
  font-family: 'Lexend Deca', sans-serif;
}


#root {
  width: 100vw;
  min-height: 100vh;
}